{
    "rules": {

        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-console": 0
    },
    "env": {
        "jasmine": true,
        "node": true,
        "es6": true,
        "browser": true
    },
    "disable": ["no-console"],
    "ecmaFeatures": { "modules": true },
    "extends": "eslint:recommended"
}
